.talks {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /*padding: 0 50px;*/
  max-width: 1200px;
}


.talk {
  display: flex;
  margin-bottom: 60px;
  /*max-width: 900px;
  justify-content: space-between;
  margin: 0 auto;*/
  flex-direction: column;
}

.talk img {
  width: auto;
  order: -1;
}

.talk div {
  flex: 1;
  padding: 0 20px;
  padding-top: 20px;
  /*max-width: 720px;*/
}

@media (min-width: 769px) {
  .talk div {
    padding: 0 40px;
  }
}

@media (min-width: 769px) {
  .talk img {
    order: 0;
    height: 250px;
  }
}

@media (min-width: 769px) {
  .talk:nth-child(odd) div {
    order: 2;
  }
}

@media (min-width: 769px) {
  .talk:nth-child(even) {
    justify-content: flex-end;
    text-align: right;
  }
}

@media (min-width: 769px) {
  .talk {
    flex-direction: row;
    height: 250px;
    margin-bottom: 40px;
  }
}