.nav {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}

@media (min-width: 769px) {
  .nav {
    padding: 50px;
    flex-direction: row;
    position: static;
  }
}

.logo {
  margin: 0;
}

.items {
  list-style: none;
  margin: 0;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  /*align-items: flex-end;*/
}

@media (min-width: 769px) {
  .items {
    margin-top: 0;
    flex-direction: row;
    align-items: center;
  }
}

.item {
  margin: 5px 0;
}

@media (min-width: 769px) {
  .item {
    margin: 0 10px;   
  }
}

.item a, .logo a {
  color: white;
  text-decoration: none;
}

.item a:hover, .logo a:hover {
  color: #F1C6A4;
}

.separator {
  display: none;
}

@media (min-width: 769px) {
  .separator {
    display: inline-block;
  }
}