.items {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media (min-width: 769px) {
  .items {
    padding: 0 50px;
  }
}

.item {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  flex-direction: column;
}

.item img {
  width: 100%;
  height: auto;
}

@media (min-width: 769px) {
  .item img {
    height: 400px;
    width: auto;
  }
}

.item div {
  flex: 1;
  padding: 0 20px;
  max-width: 720px;
  margin-top: 40px;
}

@media (min-width: 769px) {
  .item div {
    pading: 0 40px;
    margin-top: 0;
  }
}

@media (min-width: 769px) {
  .item:nth-child(even) div {
    order: -1;
    text-align: right;
  }
}

@media (min-width: 769px) {
  .item:nth-child(even) {
    justify-content: flex-end;
  }
}

@media (min-width: 769px) {
  .item {
    flex-direction: row;
    height: 400px;
  }
}

.separator {
  margin: 0 10px;
}
